@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #F2F2F2;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1185px;
  padding: 0px 30px;
  margin: 0 auto;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 5px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  align-items: center;
}

.header__box__child1 {
  display: flex;
  align-items: center !important;
  gap: 60px;
}

.header__menu {
  display: none;
}

.icons__wrapper {
  transition: all 0.4s ease-out !important;
}
.icons__wrapper:hover .bx-menu {
  display: none !important;
}
.icons__wrapper:hover .bx-x-circle {
  display: block !important;
}

.bx-menu {
  font-size: 40px;
  display: none !important;
  color: #FCB72B;
  transition: all 0.4s ease-out;
}

.bx-x-circle {
  font-size: 40px;
  color: #FCB72B;
  display: none !important;
}

.nav__list {
  display: flex;
  gap: 32px;
}

.nav__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  font-family: "Space Mono", monospace;
  transition: all 0.4s ease-out;
}
.nav__link:hover {
  color: #FCB72B;
}

.header__btn {
  border: 3px solid rgb(252, 183, 43);
  background-color: rgb(252, 183, 43);
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  color: white;
  transition: all 0.4s ease-out;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  font-family: "Space Mono", monospace;
  transition: all 0.4s ease-out;
}
.header__btn:hover {
  background: none;
  color: rgb(252, 183, 43);
}

@media screen and (max-width: 670px) {
  .bx-menu {
    display: block !important;
  }
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .header__menu {
    display: block;
  }
  .header__btn {
    display: none;
  }
}
.hero {
  border: 1px solid white;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  padding-top: 96px;
  background-image: url(../img/Bitmap1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  content: url(../img/bgc-1.svg);
  position: absolute;
  top: 455px;
}

.hero__box {
  display: flex;
  flex-direction: column;
}

.hero__box__child1 {
  display: flex;
}

.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-family: "Space Mono", monospace;
  padding-top: 150px;
  color: white;
}

.hero__box__child2 {
  padding-top: 40px;
  padding-left: 100px;
  padding-bottom: 150px;
  display: flex;
  gap: 40px;
}
.hero__box__child2::after {
  content: url(../img/bgc-2.svg);
  padding-top: 35px;
  max-width: 447px;
}

.hero__grandson {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__text {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: white;
}

.hero__btn {
  border: 3px solid rgb(252, 183, 43);
  background-color: rgb(252, 183, 43);
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  color: white;
  transition: all 0.4s ease-out;
}
.hero__btn:hover {
  background: none;
  color: rgb(252, 183, 43);
}

@media screen and (max-width: 1400px) {
  .hero::before {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .hero__box__child1 {
    display: flex;
    justify-content: center !important;
  }
  .hero__title {
    text-align: center;
  }
  .hero__box__child2 {
    display: flex;
    padding-left: 0px !important;
    flex-direction: column !important;
  }
  .hero__box__child2::after {
    position: absolute;
    top: 580px;
    left: -320px;
  }
  .hero__box__child2 .hero__text {
    text-align: center;
  }
  .hero__box__child2 .hero__btn {
    align-self: center;
  }
}
@media screen and (max-width: 450px) {
  .hero__box__child2::after {
    top: 680px;
  }
}
@media screen and (max-width: 400px) {
  .hero__box__child2::after {
    top: 720px;
  }
}
.steps {
  border: 1px solid white;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  background-image: url(../img/step-line.png);
  background-repeat: no-repeat;
  background-position-y: 190px;
}
.steps::before {
  content: url(../img/step-line3.svg);
  display: none;
  position: absolute;
  height: 400px;
  left: 70px;
  z-index: 0;
}

.steps__box {
  padding: 150px 0px;
}

.steps__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.steps__item {
  flex: 1;
}

.steps__item__child {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.steps__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  font-family: "Space Mono", monospace;
}

.steps__text {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #939CAA;
  font-family: "Lexend Deca", sans-serif;
}

@media screen and (max-width: 1350px) {
  .steps {
    background-image: none;
  }
}
@media screen and (max-width: 930px) {
  .steps::before {
    display: block !important;
  }
  .steps__list {
    flex-direction: column;
  }
  .steps__item {
    display: flex;
    gap: 30px;
    align-items: center;
    z-index: 1;
  }
}
@media screen and (max-width: 550px) {
  .steps__list {
    gap: 110px;
  }
  .steps__item {
    flex-direction: column;
    gap: 10px;
  }
  .steps__title {
    text-align: center;
  }
  .steps__text {
    text-align: center;
  }
  .steps::before {
    display: none !important;
  }
}
.information {
  border: 1px solid white;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background-color: white;
}

.information__box {
  padding: 100px 0px;
}

.information__list {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.information__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 270px;
  position: relative;
}

.information__arrow__img1 {
  position: absolute;
  top: 50px;
  left: -128px;
}

.information__about__box {
  display: flex;
  flex-direction: column;
}

.information__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  font-family: "Space Mono", monospace;
}

.information__text {
  padding-top: 25px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  color: #939CAA;
}

.information__btn {
  margin-top: 40px;
  border: 3px solid rgb(252, 183, 43);
  background-color: rgb(252, 183, 43);
  width: 180px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  color: white;
  transition: all 0.4s ease-out;
}
.information__btn:hover {
  background: none;
  color: rgb(252, 183, 43);
}

.information__arrow__img {
  position: absolute;
  top: 300px;
  left: 570px;
}

.information__item2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 270px;
  position: relative;
}

@media screen and (max-width: 1450px) {
  .information__arrow__img {
    display: none !important;
  }
  .information__arrow__img1 {
    display: none !important;
  }
  .information__item {
    flex-direction: column-reverse !important;
    gap: 20px;
  }
  .information__title {
    text-align: center;
  }
  .information__text {
    text-align: center;
  }
  .information__btn {
    align-self: center;
  }
  .information__item2 {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
@media screen and (max-width: 460px) {
  .information__img {
    width: 300px;
  }
}
@media screen and (max-width: 310px) {
  .information__img {
    width: 220px;
  }
}
.sign__up {
  border: 1px solid white;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background: #495567;
  background-image: url(../img/Group22.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.sign-up__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
}

.sign-up__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  font-family: "Space Mono", monospace;
  color: white;
}

.sign-up__child1 {
  display: flex;
  gap: 20px;
}

.sign-up__link:hover {
  transition: all 0.4s ease-out;
  box-shadow: rgb(0, 0, 1) 0px 5px 5px;
}

@media screen and (max-width: 850px) {
  .sign-up__title {
    text-align: center;
  }
  .sign-up__box {
    flex-direction: column !important;
    gap: 40px;
  }
}
@media screen and (max-width: 400px) {
  .sign-up__child1 {
    flex-direction: column;
  }
  .sign-up__link {
    align-self: center;
  }
}
footer {
  border: 1px solid white;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background: rgb(51, 58, 68);
  padding: 35px 0px;
}

.footer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__child {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.footer__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  font-family: "Space Mono", monospace;
  transition: all 0.4s ease-out;
}
.footer__link:hover {
  color: #FCB72B;
}

.icons__list {
  display: flex;
  gap: 24px;
}

.icons__link {
  font-size: 24px;
  color: #FCB72B;
  transition: all 0.4s ease-out;
}
.icons__link:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .footer__box {
    flex-direction: column !important;
  }
  .footer__list {
    flex-direction: column !important;
    text-align: center;
    gap: 10px;
  }
  .footer__child {
    flex-direction: column;
  }
  .icons__list {
    justify-content: center !important;
    margin-top: 30px;
  }
}/*# sourceMappingURL=main.css.map */